/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


/* <--! header --> */
body{
        font-family: 'Rubik', sans-serif;     
        background-color: white;
}

a:link, a:visited, a:hover, a:active{
        color:#858585;
}

h2{
        margin-bottom: 0px;
        text-align: center;
        color: #a9c8bc;
        font-size: 35px;  
        width: 100%;
        font-weight: lighter;
}

h3{
        margin-bottom: 30px;
        text-align: center;
        color: #a9c8bc; 
        margin-top: 0px;
        font-size: 40px;
        font-weight: lighter;
}

h4{
        color: #a9c8bc; 
        font-size: 17px;
        font-weight: lighter;
}

h5{
        font-size: 25px;
        text-align: center;
        font-weight: lighter;
}

h6{
        font-size: 14px;
        text-align: right;
        font-weight: lighter;
        color: #858585;
}

#firstcont{
        display: grid;
        grid-template-columns: 33% 33%  33%;
        border-bottom: 2px solid black;
        width: 100%;
        height: 200px;
        background-color: white;
}

#container{
        display: none;
}

#logo{   
        align-self: center;    
}

#logopic{   
        width: 150px;   
        height: 150px;
        margin-top: 30px;
}

#logopicCart{   
        width: 150px; 
        margin-left: 350px;
        margin-top: 10px;
}

#social {   
        display: grid;
        grid-template-rows: repeat(5,1fr);     
        align-self: center;
        position: fixed;
        top: 250px;
}

.socialMedia{
        width: 80px;
        height: 80px;
}

.icon{      
        width: 55px;
}

.hamburgerImg{
        height: 70px;
        margin-top: 70px;
        margin-right: 10px;
}
#nav{
        align-self: center;
}

a{
        text-decoration:none;
}

#menu{   
        list-style-type: none;
        font-size: 160%;
        letter-spacing: 2.5px;
        display: flex;
        justify-content: center;
}

.menu{
        text-align:center;
        width: 16%;
        font-weight:bold;
}


.menu a{
        text-decoration: none;
        color: black;
        font-family: 'Amatic SC', cursive;
}

.menu a:hover{   
        color:#a9c8bc;
}

#shoppingCart{
        width: 70%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #ebebeb; 
        display: none;  
}

.shoppingHeader{
        width: 100%;
        height: 100px;
        background-color: #a9c8bc;
        margin-top: 0px;
}

#shoppingCart h1{
        text-align: right;
        color: white;
        font-size: 35px;
        margin-top: 25px;
        padding-right: 20px;
        line-height: 50px;
        float: right;
}

.shoppingSumery{
        width: 100%;
        height: 150px;
        background-color: white;
}

.total{
        padding-top: 1px;
}

#shoppingCart h6{
        margin-top: 20px;
        text-align: right;
        font-size: 15px;
        padding-right: 20px;  
        width: 150px;
        float: right;  
}


.total table{
        margin-top: 20px;
        width: 83%;  
        margin-left: 33px;;
        color: #616161; 
}

#shopping_button_submit{
        background-color: #a9c8bc;
        width: 200px;
        border-radius: 10px;
        font-size: 30px;
        height: 50px;
        display: block;
        margin: 20px auto 20px auto;
        color: white;
        text-align: center;
        line-height: 50px;
}


#products{
        margin-top: 30px;     
        margin-bottom: 30px; 
}

.product{
        margin-top: 20px; 
        height: 180px;
        width: 95%;
        background-color: white;
        border-radius: 5px;
        margin-left: 25px;
        margin-right: 25px;
        display: block;
}

.productImg{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
        float: right;
        width: 160px;
        height: 160px;
        border-radius: 3px;
}

.productDetails{  
        padding-top: 0.1px;
        text-align: right;
        padding-left: 10px;
        font-size: 30px;
}

.productName{
        height: 30px;
        width: 400px;
        display: inline-block;
        font-size: 35px;
        padding-right: 20px;
        margin-top: 30px;
}

.productNamePrice{
        font-size: 30px;
        text-align: left;
}

.xmark{
        width: 25px;  
        position: absolute;
        top: 35px;
        left: 25px;   
}

.Cartxmark{
        width: 20px;         
}

.xmarkDelete{
        width: 25px;  
}

.productDetails i{
        color: #a9c8bc;
        font-size: 22px;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
}

#quantity{
        width: 50px;
        margin-right: 70px;
        margin-top: -150px;
}

/* <--! Home page --> */

#slidepic{
        display: none;
}

#slidepicSmallScreen{
        display: block;
}

.mySlidesSmall{
        width: 720px;
        height: 950px;
        margin-left: auto;
        margin-right: auto;
        display:none;
        margin-top: 50px;
}

/* <--! Cake page --> */

.cake{  
        padding-top: 25px;
        width: 90%;
        margin:auto;    
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
}

.item{  
        font-size: 14px;
        margin-left: 2%;   
        box-sizing: border-box;
}

.cakes{
        width: 25em;
        margin: auto;
        padding-top: 6%;   
        box-sizing: border-box;
    
}

.item h3{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
}

p.price{
        margin-top: -10px;
        text-align: center;
        font-size: 25px;
}

#form_button{
        width: 100%;
        margin-left: -2px;
        background-color:rgb(0, 0, 0);
        color: aliceblue;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
}

#addCrt {      
        background-color:rgb(0, 0, 0);
        color: aliceblue;
        border-radius: 5px;
        font-size: 30px;
        padding: 4px 115px; 
}

/* <--! contact page --> */

/* <--! about me --> */

#aboutMe{
    
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;  
       align-items: flex-start;
       justify-content: space-between;
}

#aboutMe p, #tableTxt p{
        text-align: right;
        line-height: 40px;
        font-size: 30px;  
}

#myPicture img{
        width: 400px;
}

#text, #tableTxt{
        margin-left: auto;
        margin-right: auto;
}

/* <--!desserts tables --> */

#table{
        margin: 50px 250px ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        align-items: flex-start;
        justify-content: space-between;
 }
 
 #tableTxt li {
        text-align: right;
        line-height: 40px;
        font-size: 30px;  
        list-style-type:circle;
}
 
 #myPicture {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
 }

 iframe{
        width: 500px;
        height: 550px
 }

/* <--! privacy page --> */

#privacy{
   
        line-height: 22px;
}

/* <--! deliveries page --> */

#deliveries{
       
        line-height: 22px;
}

/* <--! cart page --> */

#order{
        margin: 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        align-items: flex-start;
        justify-content: space-between;
 }

/* .deliveryForm{
        width: 50%;
        height: 100%;
        background-color: #f1fffa;
 } */
#order h3{
        text-align: center;
        color: black;
        margin: 5% auto 100px auto;
 }
    
.orderDetails{
        width: 50%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 115px;
 }

input, textarea{
        height: 100px;
        width: 80%;
        color: #616161;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 5px;
        margin-top: 10px;
        text-align: center;
        font-family: 'Rubik', sans-serif; 
        font-size: 30px;
        text-align: right;
        padding-right: 10px;
        line-height: 100px;
}

#form_button_submit{
        margin-top: 20px;
        width: 40%;
        height: 80px;
        background-color:rgb(0, 0, 0);
        color: aliceblue;
        border-radius: 10px;
        font-size: 30px;  
        text-align: center;
        line-height: 30px;
}

#form_button_submit:hover{
        background-color: #a9c8bc;
        color: black; 
}

.formStyle{     
        width: 100%;
        margin-left: 5%;
        margin-right: 12%;
}

.orderProduct{      
        width: 80%;
        height: 250px;
        border-bottom: 1px solid #a9c8bc ;
        display: block;
        background-color: white;
        margin-left: auto;  
        margin-right: auto;      
        margin-top: 10px;   
}

.orderProductImg{
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        width: 200px;
        height: 200px;
        border-radius: 3px;
}

.orderProductDetails{         
        margin-right: 150px;
}

.orderProductNamePrice{    
        text-align: left;
        font-size: 30px;
}

.orderProductName{
        width: 80%;
        display: inline-block;
        font-size: 35px;
        padding-right: 20px;
        margin-top: 10px;
}

.fa-solid, .fas{
        color: #000000;
        padding-top: 7px;
        padding-right: 10px;    
        font-size: 30px;  
}

table{
        margin-top: 50px;
        width: 80%;  
        margin-left: auto;
        margin-right: auto;  
        color: #616161;  
} 

td{
        padding-right: 10px;
        height: 25px;
        text-align: left;
        font-size: 30px;
} 

th{
        padding-right: 10px;
        height: 25px;
        text-align: right;
        font-weight: lighter;
        font-size: 30px;
} 

tr:nth-child(3){
        height: 100px; 
        font-size: 18px;
}

/* <--! footer --> */
.footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5% 10% 2% 10% ;
        border-top: 1px solid black;
        justify-items: center;
}

#footer1, #footer2, #footer3{    
        align-self: center;    
}

#footerMenu {   
        list-style-type: none;
        font-size: 25px;
        text-align: center;
        margin-left: 40px;
}

.footerMenu {
        line-height: 35px;   
}

.footerMenu a {
        text-decoration: none;
        text-align: center;
        color: #858585;  
}

.footerMenu a:hover{ 
        color:#a9c8bc;
}

.footer1 p{
        text-align: center;
        font-size: 25px;
        color: #858585; 
        line-height: 35px; 
        text-decoration: none;
}

.topnav {
        overflow:visible;
        /* background-color: #a9c8bc;    */
        transform: translate(0, 0);
        opacity:1;   
}

.topnav #myLinks {
        display: none;
}

.topnav a {
        color: white;
        text-decoration: none;
        display: block;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 2.5px;
        text-align:end;
}

.topnav i {
        color: #a9c8bc;
        margin-right: 50px;
        margin-top: 23px;
        font-size: 50px;
}

#myLinks li{
        line-height: 150px;
        list-style-type: none;
        border-bottom: 2px solid rgb(207, 207, 207);
        padding-right: 30px;
        background-color: #a9c8bc;
}

#myLinks{
        margin-top: 200px;
}

/* #myLinks li:first-child{
        margin-top: 100px;
        } */

#myLinks a{
        font-size: 50px;
        background-color: #a9c8bc;
}

#myLinks a:hover{
        color: black;   
}

.topnav a.icon {
        display: block;
        position: absolute;
        right: 0;      
        margin-top:50px;
}

.active {
        background-color: #a9c8bc;
        color: black;
        height: 25px;
}


#logo{
        margin-right: auto;
        margin-left: auto;
        align-self: flex-start;
}

.icon{
        font-size: 30px;
        color: #a9c8bc;
        margin-top: 10px;
}

.phoneimg{
        width: 50px;
        height: 50px;
        align-self: center;
        margin-top: 40px;
}

.phone{
        justify-self:start;
        margin-top: 35px;
        margin-left: 30px;
}
                
.footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 2px solid black;
        margin: 5% 10% 2% 10% ;
}


.deliveryForm, .orderDetails{
        width: 100%;
        margin-top: 20px;
}

#logopicCart{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

#table, #aboutMe{
        margin: 70px 70px ;
        display: flex;
        flex-direction: column;
}

#deliveries, #privacy{
        margin: 70px 70px ;
}

}
/* 
Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 810px) {
        .mySlides{
                width: 800px;
                height: 600px;
        }
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1500px) {


#slidepic{
        display: block;
}

#slidepicSmallScreen{
        display: none;
} 

.mySlides{
        width: 65%;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        display:none;
        margin-top: 50px;
}            

#container{
        display: grid;
        grid-template-columns: 90% 10% ;
        height: 120px;
        width: 80%;
        border-bottom: 2px solid #a9c8bc;
        margin-left: auto;
        margin-right: auto;
}

#firstcont{
        display: none;
}


#logo{
        margin-right: auto;
        margin-left: auto;
        align-self: flex-start;
}
#logopic{   
        height: 100px;  
        width: 100px; 
        margin-top: 0px;
}

.icon{
        font-size: 30px;
        color: #a9c8bc;
        margin-top: 10px;
}
                
.footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 2px solid black;
        margin: 5% 10% 2% 10% ;
}

#order{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        align-items: flex-start;
        justify-content: space-between;
}

.orderDetails{
        width: 50%;
   
 }

.deliveryForm{
        width: 50%;
        height: 100%;
        background-color: #f1fffa;
 }

#logopicCart{
        width: 100px;
        height: 100px;
}

#table, #aboutMe{
        margin: 50px 250px ;
        display: flex;
        flex-direction: row;
}

#deliveries, #privacy{
        margin: 50px 250px ;
}

#aboutMe p, #tableTxt p, #tableTxt li {
        text-align: right;
        line-height: 30px;
        font-size: 20px;  
}

h3{
        font-size: 25px;
}

.footer1 p, #footerMenu, h5  {      
        font-size: 14px;  
}

.footerMenu, .footer1 p{
        line-height: 22px;
}

.socialMedia{
        width: 45px;
        height: 45px;
}

.item h3{
        font-size: 25px;
}

p.price{
        font-size: 18px;
}

#addCrt {      
        font-size: 20px;   
        padding: 4px 134px; 
}

#shoppingCart{
        width: 350px;  
}

.product{
        height: 120px;
        width: 300px;
}

.productImg{
        width: 100px;
        height: 100px;
}

.productDetails{  
        width: 190px;
        font-size: 17px;
}

.productNamePrice{
        font-size: 16px;
}

.xmark{
        font-size: 20px;
        padding-top: 7px;
        padding-left: 10px;    
        position: absolute;
        top:0px;   
}

.productDetails i{
        font-size: 12px;
        margin-top: 10px;
}

td, th{
        font-size: 16px;
} 

.shoppingHeader{
        height: 50px;
}

#shoppingCart h1{
        font-size: 25px;
        line-height: 50px;
        margin-top: 0px;
}

#shopping_button_submit{   
        width: 200px; 
        font-size: 20px;
        height: 40px;
        line-height: 40px;
}

.orderProduct{      
        width: 60%;
        height: 120px;       
}

.orderProductImg{
        width: 100px;
        height: 100px;
}

.orderProductNamePrice{    
        text-align: left;
        font-size: 16px;
}

.orderProductName{
        width: 80%;
        font-size: 16px;
}

.fa-solid, .fas{
        font-size: 20px;    
}

input, textarea{
        height: 40px;
        width: 70%;
        color: #616161;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 5px;
        margin-top: 10px;
        text-align: center;
        font-family: 'Rubik', sans-serif; 
        font-size: 14px;
        text-align: right;
        padding-right: 10px;
        line-height: 40px;
}

#form_button_submit{
        margin-top: 20px;
        width: 250px;
        height: 40px;
        background-color:rgb(0, 0, 0);
        color: aliceblue;
        border-radius: 5px;
        font-size: 20px;  
        text-align: center;
}

.phone{
       display: none;
}

.phoneimg{
       display: none;
}
    
#myPicture {
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
}

iframe{
        width: 450px;
        height: 500px
 }



}






       



